.createEvent1 {
  position: absolute;
  top: 0;
  left: calc(50% - 178.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 357px;
  height: 63px;
}
.home {
  top: 0;
  left: calc(50% - 92px);
  background-color: var(--rice-white);
  border: 3px solid var(--black);
  box-sizing: border-box;
  width: 184px;
}
.backToEvent,
.home,
.home1 {
  position: absolute;
  height: 39px;
}
.home1 {
  top: calc(50% - 19.5px);
  left: calc(50% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
}
.backToEvent {
  top: 76px;
  left: calc(50% - 91.5px);
  width: 184px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.eventName1 {
  border: 0;
  outline: 0;
  font-family: var(--font-crimson-text);
  font-size: var(--font-size-10xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 164px);
  color: var(--boulder);
  text-align: left;
  display: flex;
  align-items: center;
  width: 327px;
}
.eventName {
  position: absolute;
  top: 141.5px;
  left: calc(50% - 178px);
  border: 3px solid var(--black);
  box-sizing: border-box;
  width: 357px;
  height: 64px;
}
.onlineSync {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 69px);
}
.eventAddress1,
.onlineEvent {
  font-size: var(--font-size-10xl);
  position: absolute;
  text-align: left;
}
.onlineEvent {
  top: 561.5px;
  left: calc(50% - 177px);
  border: 3px solid var(--black);
  box-sizing: border-box;
  width: 245px;
  height: 64px;
}
.eventAddress1 {
  border: 0;
  outline: 0;
  font-family: var(--font-crimson-text);
  background-color: transparent;
  top: calc(50% - 19.5px);
  left: calc(50% - 165px);
  color: var(--boulder);
  display: flex;
  align-items: center;
  width: 330px;
}
.eventAddress {
  position: absolute;
  top: 225.5px;
  left: calc(50% - 178px);
  border: 3px solid var(--black);
  box-sizing: border-box;
  width: 357px;
  height: 64px;
}
.createEvent3 {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 74px);
  font-size: var(--font-size-10xl);
  font-family: var(--font-crimson-text);
  color: var(--rice-white);
  text-align: left;
}
.createEvent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--the-black);
  position: absolute;
  top: 650px;
  left: calc(50% - 176.5px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.37);
  border-radius: var(--br-7xs);
  width: 354px;
  height: 61px;
}
.eventType1 {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 65px);
  font-size: var(--font-size-10xl);
  font-family: var(--font-crimson-text);
  color: var(--the-black);
  text-align: left;
}
.eventTime,
.eventType {
  cursor: pointer;
  border: 3px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  position: absolute;
  top: 393.5px;
  left: calc(50% - 178px);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 357px;
  height: 64px;
}
.eventTime {
  top: 309.5px;
}
.coverImageNon {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 162px);
  font-size: var(--font-size-10xl);
  font-family: var(--font-crimson-text);
  color: var(--the-black);
  text-align: left;
}
.coverImage {
  cursor: pointer;
  border: 3px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  position: absolute;
  top: 477.5px;
  left: calc(50% - 178px);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 357px;
  height: 64px;
}
.background {
  position: absolute;
  top: calc(50% - 14.5px);
  right: 5px;
  border-radius: var(--br-52xl);
  background-color: var(--nero);
  width: 28px;
  height: 28px;
}
.toggle {
  position: absolute;
  top: 574px;
  left: 290px;
  border-radius: var(--br-9xl);
  background-color: var(--the-black);
  width: 69px;
  height: 39px;
}
.createEvent {
  width: 100%;
  position: relative;
  background-color: var(--rice-white);
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: 65px;
  color: var(--black);
  font-family: var(--font-crimson-text);
}
