.bigEmail,
.frame {
  position: absolute;
  left: calc(50% - 142.5px);
}
.bigEmail {
  top: calc(50% - 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 103px;
}
.frame {
  top: calc(50% + 12px);
  background-color: var(--color-gray-200);
  border: 1px solid var(--silver);
  box-sizing: border-box;
  width: 285px;
  height: 45px;
}
.email,
.email1 {
  position: absolute;
  font-family: var(--font-crimson-text);
}
.email1 {
  border: 0;
  outline: 0;
  font-size: var(--font-size-5xl);
  background-color: transparent;
  top: calc(50% + 23px);
  left: calc(50% - 135.5px);
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 271px;
  height: 22px;
}
.email {
  top: 147px;
  left: calc(50% - 161.5px);
  width: 323px;
  height: 114px;
  text-align: center;
  font-size: var(--font-size-50xl);
  color: var(--black);
}
.bigPassword {
  position: absolute;
  top: calc(50% - 75.5px);
  left: calc(50% - 143.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 143px;
}
.frame1 {
  position: absolute;
  top: calc(50% + 8.5px);
  left: calc(50% - 142.5px);
  background-color: var(--color-gray-200);
  border: 1px solid var(--silver);
  box-sizing: border-box;
  width: 285px;
  height: 45px;
}
.password,
.password1 {
  position: absolute;
  font-family: var(--font-crimson-text);
}
.password1 {
  border: 0;
  outline: 0;
  font-size: var(--font-size-5xl);
  background-color: transparent;
  top: calc(50% + 18.5px);
  left: calc(50% - 135.5px);
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 271px;
  height: 24px;
}
.password {
  top: 266px;
  left: calc(50% - 161.5px);
  width: 323px;
  height: 111px;
  text-align: center;
  font-size: var(--font-size-50xl);
  color: var(--black);
}
.signInIcon {
  position: absolute;
  top: 6px;
  left: calc(50% - 61.9px);
  width: 123.8px;
  height: 46.4px;
}
.login1,
.signInParent {
  position: absolute;
  height: 58px;
}
.login1 {
  top: 0;
  left: calc(50% - 51.5px);
  font-size: var(--font-size-7xl);
  font-weight: 600;
  font-family: var(--font-crimson-text);
  color: var(--black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
}
.signInParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 406px;
  left: calc(50% - 61.5px);
  width: 123.8px;
}
.login2 {
  position: absolute;
  top: 14px;
  left: calc(50% - 231.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 462px;
  height: 97px;
}
.dontHaveAn,
.signUpNow2 {
  font-family: var(--font-crimson-text);
}
.dontHaveAn {
  margin: 0;
}
.signUpNow2 {
  text-decoration: underline;
  text-transform: uppercase;
}
.signUpNow1 {
  color: inherit;
}
.signUpNow {
  margin: 0;
}
.dontHaveAnContainer1 {
  width: 100%;
}
.dontHaveAnContainer,
.login {
  text-align: center;
  color: var(--black);
}
.dontHaveAnContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 499px;
  left: calc(50% - 161.5px);
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 316px;
  height: 28px;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--rice-white);
  height: 852px;
  overflow: hidden;
  font-size: var(--font-size-129xl);
  font-family: var(--font-crimson-text);
}
