.searchEvents {
  width: 253px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  flex-shrink: 0;
}
.frame {
  cursor: pointer;
  border: 2px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  position: absolute;
  top: calc(50% - 16.8px);
  left: calc(50% - 160px);
  box-sizing: border-box;
  width: 140.9px;
  height: 33.5px;
}
.backToTop1 {
  top: calc(50% - 14px);
  left: calc(50% - 143px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
}
.backToTop1,
.home,
.home1 {
  position: absolute;
}
.home {
  cursor: pointer;
  border: 2px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  top: calc(50% - 16.8px);
  left: calc(50% + 19.1px);
  box-sizing: border-box;
  width: 140.9px;
  height: 33.5px;
}
.home1 {
  top: calc(50% - 18px);
  left: calc(50% + 61.4px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56.4px;
  height: 36px;
}
.backToTop {
  width: 320px;
  position: relative;
  height: 36px;
  font-size: var(--font-size-3xl);
}
.topBar {
  align-self: stretch;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
  background-color: var(--rice-white);
  height: 102px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-38xl);
  color: var(--black);
  font-family: var(--font-crimson-text);
}
.frame1,
.search {
  position: absolute;
}
.frame1 {
  top: 0;
  left: calc(50% - 171.5px);
  background-color: var(--color-gray-200);
  border: 1px solid var(--silver);
  box-sizing: border-box;
  width: 343px;
  height: 64px;
}
.search {
  border: 0;
  outline: 0;
  font-family: var(--font-crimson-text);
  font-size: var(--font-size-15xl);
  background-color: transparent;
  top: 17.1px;
  left: calc(50% - 163.1px);
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 316.5px;
  height: 32px;
}
.searchBox {
  width: 343px;
  position: relative;
  height: 64px;
  flex-shrink: 0;
  z-index: 1;
}
.event16Child {
  width: 322px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 123px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.wednesdayJune05 {
  position: absolute;
  top: 66.4px;
  left: 20px;
  text-decoration: underline;
  color: inherit;
}
.address {
  position: relative;
}
.addressWrapper {
  position: absolute;
  top: 83.6px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base-4);
}
.hanson,
.sd {
  text-decoration: underline;
  color: inherit;
}
.sd {
  position: absolute;
  top: 122.8px;
  left: 20px;
  font-size: 15.4px;
}
.hanson {
  position: relative;
  font-weight: 700;
}
.nameOfEvent {
  position: absolute;
  width: calc(100% - 40px);
  top: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-8);
  box-sizing: border-box;
  font-size: var(--font-size-7xl-3);
  color: var(--black);
}
.container {
  width: 336px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 40.5px);
  left: calc(50% - 167.5px);
  height: 115px;
  z-index: 1;
}
.event16 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event12,
.event16,
.event2 {
  width: 329px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.event2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event12 {
  z-index: 4;
}
.event12,
.event17,
.event18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.event17 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  top: 720px;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 5;
}
.event18 {
  top: 977px;
  z-index: 6;
}
.event13,
.event14,
.event18 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
}
.event13 {
  top: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 7;
}
.event14 {
  top: 978px;
  z-index: 8;
}
.event14,
.event15,
.event5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.event15 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  top: 1235px;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 9;
}
.event5 {
  top: 720px;
  z-index: 10;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event5,
.event6,
.event7 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
}
.event6 {
  top: 978px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 11;
}
.event7 {
  top: 1236px;
  z-index: 12;
}
.event7,
.event8,
.event9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.event8 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  top: 1493px;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 13;
}
.event9 {
  top: 978px;
  z-index: 14;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event10,
.event11,
.event9 {
  margin: 0 !important;
  width: 329px;
  position: absolute;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
}
.event10 {
  top: 1236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 15;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event11 {
  top: 1494px;
  z-index: 16;
}
.event11,
.event3,
.myEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
.event3 {
  margin: 0 !important;
  width: 329px;
  position: absolute;
  top: 1751px;
  left: calc(50% - 163.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 17;
}
.myEvents {
  width: 100%;
  position: relative;
  background-color: var(--rice-white);
  height: 852px;
  overflow-y: auto;
  gap: var(--gap-lgi);
}
