.frame {
  cursor: pointer;
  border: 2px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  position: absolute;
  top: calc(50% - 16.8px);
  left: calc(50% - 160px);
  box-sizing: border-box;
  width: 140.9px;
  height: 33.5px;
}
.backToTop1 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 143px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
}
.home {
  cursor: pointer;
  border: 2px solid var(--black);
  padding: 0;
  background-color: var(--rice-white);
  position: absolute;
  top: calc(50% - 16.8px);
  left: calc(50% + 19.1px);
  box-sizing: border-box;
  width: 140.9px;
  height: 33.5px;
}
.backToTop,
.home1 {
  position: absolute;
  height: 36px;
}
.home1 {
  top: calc(50% - 18px);
  left: calc(50% + 61.4px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56.4px;
}
.backToTop {
  top: calc(50% + 1.5px);
  left: calc(50% - 159.5px);
  width: 320px;
}
.searchEvents1 {
  position: absolute;
  top: 3px;
  left: calc(50% - 169.5px);
  font-size: var(--font-size-38xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 43px;
}
.topBar {
  align-self: stretch;
  position: relative;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
  background-color: var(--rice-white);
  height: 91px;
  overflow-y: auto;
  flex-shrink: 0;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--black);
  font-family: var(--font-crimson-text);
}
.frame1,
.search {
  position: absolute;
}
.frame1 {
  top: 0;
  left: calc(50% - 171.5px);
  background-color: var(--color-gray-200);
  border: 1px solid var(--silver);
  box-sizing: border-box;
  width: 343px;
  height: 64px;
}
.search {
  border: 0;
  outline: 0;
  font-family: var(--font-crimson-text);
  font-size: var(--font-size-15xl);
  background-color: transparent;
  top: 17.1px;
  left: calc(50% - 163.1px);
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 316.5px;
  height: 32px;
}
.searchBox {
  width: 343px;
  position: relative;
  height: 64px;
  flex-shrink: 0;
  z-index: 1;
}
.cantFindYour {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 21.5px;
  text-decoration: underline;
  font-family: var(--font-crimson-text);
  color: var(--black);
  text-align: center;
  display: inline-block;
}
.link {
  width: 323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.event1Child {
  width: 322px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 123px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.wednesdayJune05 {
  position: absolute;
  top: 66.4px;
  left: 20px;
  text-decoration: underline;
  color: inherit;
}
.address {
  position: relative;
}
.addressWrapper {
  position: absolute;
  top: 83.6px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base-4);
}
.hanson,
.sd {
  text-decoration: underline;
  color: inherit;
}
.sd {
  position: absolute;
  top: 122.8px;
  left: 20px;
  font-size: 15.4px;
}
.hanson {
  position: relative;
  font-weight: 700;
}
.nameOfEvent {
  position: absolute;
  width: calc(100% - 40px);
  top: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-8);
  box-sizing: border-box;
  font-size: var(--font-size-7xl-3);
  color: var(--black);
}
.container {
  width: 336px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 40.5px);
  left: calc(50% - 167.5px);
  height: 115px;
  z-index: 1;
}
.event1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.event1,
.event2,
.event3 {
  width: 329px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
}
.event2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 4;
}
.event3 {
  margin: 0 !important;
  position: absolute;
  top: 727px;
  left: calc(50% - 167.5px);
  z-index: 5;
}
.event3,
.event31,
.searchEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.event31 {
  width: 329px;
  margin: 0 !important;
  position: absolute;
  top: 984px;
  left: calc(50% - 167.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--nero);
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 6;
}
.searchEvents {
  width: 100%;
  position: relative;
  background-color: var(--rice-white);
  height: 852px;
  overflow-y: auto;
  gap: 12px;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--emperor);
  font-family: var(--font-inter);
}
